* {
    font-family: 'Muller', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

#Capa_1 {
    width: 22px;
    height: 22px;
}
.benefits-cards-icon {
    width: auto;
    height: 59px;
}

.special-offer-image {
    width: 595px;
    height: 540px;
}